.overlay-stake {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  opacity: 1;
  z-index: 20;
  cursor: pointer;
}
.stake-modal > svg {
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 20px;
  cursor: pointer;
}
.stake-modal {
  z-index: 24;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 95%;
  max-width: 800px;
  padding-top: 40px;
  max-height: 90vh;
  overflow-y: auto;
}
.top-modal {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
}
.top-modal img {
  max-width: 350px;
  object-fit: contain;
  width: 100%;
}
.right-modal {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
}
.right-modal h2 {
  color: #313131;
  font-size: 15px;
}
.right-modal h1 {
  font-size: 27px;
}
.right-modal .nft-desc-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
  margin-top: 10px;
}
.desc-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0px;
  border-bottom: 1px solid rgb(73, 95, 168);
}
.desc-row h3 {
  font-size: 14px;
  text-transform: uppercase;
}
.desc-row p {
  font-size: 16px;
  color: rgb(73, 95, 168);
}
.bottom-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: hsl(226, 39%, 53%);
  border-radius: 100vh;
  padding-left: 40px;
  height: 60px;
}
.bottom-modal h2 {
  color: white;
}
.bottom-modal > .buy-now {
  width: 200px;
  height: 100%;
  border-radius: 100vh;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  background-color: rgb(73, 95, 168);
}
@media screen and (max-width: 733px) {
  .top-modal {
    flex-direction: column-reverse;
    align-items: center;
    gap: 0px;
  }
  .right-modal {
    width: 100%;
    align-items: center;
  }
  .bottom-modal {
    height: 70px;
    padding-left: 20px;
  }
  .bottom-modal > .buy-now {
    width: 130px;
    font-size: 16px;
    height: 70px;
  }
  .bottom-modal h2 {
    font-size: 20px;
  }
  .readmore {
    border: none;
    color: rgb(73, 95, 168);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid rgb(73, 95, 168);
    margin-top: 10px;
    background-color: transparent;
  }
}
@media screen and (max-width: 500px) {
  .bottom-modal h2 {
    font-size: 14px;
  }
  .bottom-modal {
    height: 60px;
  }
  .bottom-modal > .buy-now {
    height: 60px;
    width: 100px;
  }
}
