.faq-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  border-bottom: 1px solid rgb(54, 54, 54);
  overflow: hidden;
  margin: 4px 0px;
}
.faq-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #363636;
  padding: 18px 0;
  cursor: pointer;
  gap: 20px;
}
.faq-btn h2 {
  user-select: none;
  line-height: 1;
  font-weight: 400;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}
.faq-btn svg {
  transition: all 0.2s ease-in-out;
}
.faq-answer {
  max-height: 0px;
  text-align: left;
  transition: all 0.7s ease-in-out;
  width: 100%;
}
.faq-answer p {
  text-align: left;
  padding-bottom: 18px;
  font-size: 14px;
  color: #363636;
}
.faq-btn:hover,
.active-faq-btn {
  color: #6e6e6e;
}
.active-answer {
  max-height: 6000px;
}
@media screen and (max-width: 500px) {
  .faq-btn h2 {
    font-size: 16px;
  }
}
