.about {
  margin-top: -22vw;
  position: relative;
  z-index: 2;
  pointer-events: none;
  width: 100%;
}
.about > img {
  width: 100%;
  height: 35vw;
}
.about > .container {
  background-color: #62d388;
  margin-top: -80px;
}
.about .about-box {
  max-width: 740px;
  line-height: 1.6;
  padding: 0px 20px;
  padding-bottom: 80px;
}
.about-box h2 {
  color: white;
  font-size: 23px;
  font-weight: 500;
}
.about-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding-inline: 20px;
  gap: 40px;
}
.about-row .monkey-about {
  transform: rotate(180deg);
}
.left-about-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  pointer-events: all;
}
.left-about-row h3 {
  line-height: 1;
  font-size: 45px;
  color: #363636;
  font-weight: 400;
}
.left-about-row button {
  margin-bottom: 40px;
}
.left-about-row p {
  color: #363636;
  line-height: 1.7;
  font-size: 14px;
  font-weight: 300;
}
.about .about-row:last-child {
  margin-top: 80px;
}
.care {
  width: 500px;
  height: 500px;
  object-fit: contain;
}
@media screen and (max-width: 981px) {
  .about-row {
    flex-direction: column-reverse;
  }

  .about-row .monkey-about,
  .about-row > img {
    max-width: 100%;
    object-fit: contain;
  }
  .care {
    height: auto;
  }
}
@media screen and (max-width: 720px) {
  .about .about-box {
    padding: 60px 20px;
  }
  .about-box h2 {
    font-size: 18px;
  }
  .about > .container {
    margin-top: -40px;
  }
  .left-about-row h3 {
    font-size: 30px;
  }
  .about {
    margin-top: -26vw;
  }
}
