.landing-hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
  padding-bottom: 0px;
  flex-direction: column;
  background: url("/public/assets/hero.png") repeat 0 0;
  gap: 30px;
  background-position: 0 0;
  animation: animate 65s linear infinite;
  position: relative;
  isolation: isolate;
}
@keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: calc(100% - 100vw) 0;
  }
}
.nft {
  max-width: 400px;
  width: 100%;
}
.landing-hero h1 {
  text-shadow: 2px 2px 0 #363636, -2px -2px 0 #363636, 2px -2px 0 #363636,
    -2px 2px 0 #363636, 5px 5px 0 #363636;
  color: #fff;
  -webkit-text-stroke: 1px black;
  font-size: 75px;
}
.landing-hero p {
  color: #363636;
  font-size: 1.875rem;
}
.buy {
  border: 2px solid rgb(147 197 253);
  border-radius: 100vh;
  color: #363636;
  font-size: 18px;
  background-color: transparent;
  width: 200px;
  height: 44px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.buy:hover {
  background-color: rgb(147 197 253);
  color: white;
}
.landing-hero .splide {
  margin-top: 50px;
}
.landing-hero .splide__arrow {
  width: 3rem;
  background-color: rgb(147 197 253);
  height: 3rem;
  z-index: 8;
}
.landing-hero .splide__arrow svg {
  fill: white;
  font-size: 20px;
}
.landing-hero .splide__slide {
  transform: none;
  opacity: 0.4;
  transition: all 0.3s ease-in-out;
}
.landing-hero .is-active {
  opacity: 1;
  /* transform: translateY(-40px); */
}

@media screen and (max-width: 555px) {
  .landing-hero h1 {
    font-size: 50px;
  }
  .landing-hero p {
    font-size: 18px;
  }
}
