.roadmap {
  width: 100%;
  min-height: 100vh;
  background-color: #37214e;
  background-image: url("/public/assets/galaxy.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -390px;
  padding-top: 270px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-inline: 20px;
  padding-bottom: 100px;
}
.roadmap h1 {
  line-height: 1;
  font-size: 45px;
  font-weight: 400;
  color: white;
}
.roadmap-grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  width: 100%;
  max-width: 1536px;
  gap: 40px;
  margin-top: 100px;
  padding-inline: 20px;
}
.star-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
  align-items: flex-start;
  width: 55px;
}
.star-wrapper img {
  width: 100%;
  object-fit: contain;
  align-self: flex-start;
}
.star-wrapper:before {
  content: "";
  position: absolute;
  top: 0%;
  height: calc(100% + 40px);
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  background-color: white;
}
.last-star::before {
  height: 100%;
}
.road-item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.road-item h2 {
  color: transparent;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  font-size: 32px;
}
.road-item ul {
  list-style-position: outside;
  margin-top: 10px;
}
.road-item .right li {
  text-align: right;
}
.road-item ul li,
.road-item p {
  font-size: 14px;
  font-weight: 300;
  color: white;
  padding: 8px 0px;
}
.space-monkey {
  width: 170px;
  object-fit: contain;
  align-self: flex-end;
  justify-self: flex-start;
  animation: floating 6s ease-in-out infinite;
}
.center-item {
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.center-item h2 {
  margin-bottom: 10px;
}
.center-item p {
  padding: 2px 0px;
  text-align: center;
}
@keyframes floating {
  0% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-30px);
  }
  100% {
    transform: translatey(0);
  }
}
@media screen and (max-width: 925px) {
  .roadmap {
    margin-top: 0px;
    padding-top: 80px;
  }
  .roadmap-grid {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }
  .empty,
  .star-wrapper {
    display: none;
  }
  .road-item .right li {
    text-align: left;
  }
  .road-item h2 {
    font-size: 24px;
  }
  .space-monkey {
    align-self: center;
    justify-self: center;
  }
}
