.verse {
  width: 100%;
  margin-top: -100px;
  position: relative;
  z-index: 4;
}
.verse > img {
  width: 100%;
  height: 240px;
}
.verse-box {
  background-color: #495fa8;
  margin-top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 50px;
  padding-inline: 20px;
}
.left-verse {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  max-width: 500px;
  gap: 20px;
}
.left-verse p {
  color: white;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
}
.left-verse button {
  color: white;
}
.left-verse h1 {
  line-height: 1;
  font-size: 45px;
  color: white;
  font-weight: 400;
}
@media screen and (max-width: 1703px) {
  .verse {
    margin-top: -120px;
  }
}
@media screen and (max-width: 1133px) {
  .verse {
    margin-top: -140px;
  }
}
@media screen and (max-width: 920px) {
  .verse > img {
    height: auto;
    object-fit: contain;
  }
  .verse {
    margin-top: -50px;
  }
  .verse-box {
    padding: 50px 20px;
  }
}
@media screen and (max-width: 555px) {
  .left-verse h1 {
    font-size: 35px;
  }
}
